@use "abstracts/_variables";
@use "base/_font";
@use "base/_reset";
@use "components/_button";
@use "layout/_container";
@use "layout/_header";

/* ========== Custom Classes =========== */

.d-flex {
  display: flex;
  align-items: center;
}

/* ========== Home =========== */

/* ========== Services =========== */

/* ========== about =========== */

/* ========== Recipes =========== */

/* ========== Testimonials =========== */

/* ========== App =========== */

/* ========== Footer =========== */
