/* ========== Header =========== */
.header {
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(#f94a3d, 10%) 60%, rgba(#ffe507, 10%)
  );
}

.navbar {
  padding: 2em 0;

  .row {
    justify-content: space-between;
  }

  .logo {
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      width: 15rem;
    }
  }

  .nav-list   {
    gap: 0.5rem;
    li  {
      display: inline-block;
      padding: 1rem 0.5rem 1rem;

      //&:not(:last-child) {
      //  margin-right: 0.5rem;
      //}
    }
    .close {
      display: none;
      cursor: pointer;
    }

    &.show {
      left:0
    }

    .col {
      display: none;
    }
    //mobile
    @media (max-width: 800px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 35rem;
      height: 100%;
      background-color: var(--white-color);
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;
      z-index: 9999;
      padding: 5rem 2rem;
      transition: left 300ms linear;
      .close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
        padding: 0.5rem 0.7rem;
        display: flex;
        justify-content: center;
      }
      .col {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        form {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }

  .hamburger {
    font-size: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    color: var(--white-color);
    padding: 0.5rem 0.7rem;
    justify-content: center;
    cursor: pointer;
    display: none;
    @media screen and (max-width:800px) {
        display: inline-block;
    }
  }

  /* form**/
  .col {
    @media screen and (max-width: 800px) {
      display: none;
    }
    form {
      background-color: var(--white-color);
      border-radius: 0.5rem;
      box-shadow: var(--box-shadow);
      border: 1px solid rgba(#69697b, 10%);
      padding: 0.5rem 0;
      margin-right: 1.5rem;
      width: 25rem;
      position: relative;

      input {
        text-indent: 1rem;
        font-size: 1.4rem;
        width: 100%;

        &::placeholder {
          color: var(--default-color);
        }
      }

      button {
        justify-content: center;
        padding: 0.5rem;
        background-color: transparent;
        border-left: 1px solid rgba(#69697b, 10%);
        font-size: 1.7rem;
        color: var(--default-color);
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  /*cart icon**/
  .cart-icon {
    justify-content: center;
    color: var(--default-color);
    position: relative;
    font-size: 2rem;
    margin-right: 1.5rem;

    span {
      position: absolute;
      top: -1.3rem;
      right: -1rem;
      background-color: var(--primary-color);
      border-radius: 50%;
      color: var(--white-color);
      padding: 0.1rem 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .btn {
    margin-left: 1rem;
  }
}