:root {
  --primary-color: #f94a3d;
  --yellow-color: #ffcf03;
  --black-color: #212244;
  --default-color: #69697b;
  --deep-yellow: #ff9401;
  --yellow-color-1: #ffe507;
  --red-color-1: #e83b2e;
  --red-color-2: #ee3e32;
  --light-red-color: #fdecec;
  --grey-color: #eaeaea;
  --grey-color-1: #f8f8f8;
  --white-color: #fff;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

//$primary-color: #f94a3d;
//$yellow-color: #ffcf03;
//$black-color: #212244;
//$default-color: #69697b;
//$deep-yellow: #ff9401;
//$yellow-color-1: #ffe507;
//$red-color-1: #e83b2e;
//$red-color-2: #ee3e32;
//$light-red-color: #fdecec;
//$grey-color: #eaeaea;
//$grey-color-1: #f8f8f8;
//$white-color: #fff;
//$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);